/* Tablet */
@media (min-width: 768px) {
}

/* Desktop */
/*Index*/
@media (min-width: 1024px) {
  .rematrix_corners {
    --thickness: 1.25px;
    --width: 0.8em;
  }

  #index_body {
    display: grid;
    grid-template-rows: 50px 1fr 100px;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
      "HLogo HButtons"
      "Masonry Masonry"
      "Footer Footer ";
    /* max-width: 100px; */
  }
  #index_body #header_logo {
    grid-area: HLogo;
  }
  #index_body #header_buttons {
    grid-area: HButtons;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 0;
    font-size: 14px;
  }
  #index_body #header_buttons button {
    width: 125px;
    height: calc(100% - 17.5px);
    margin-left: 7.5px;
    margin-right: 2.5px;
  }
  #index_body #homelayout {
    width: 100dvw;
    min-height: calc(100dvh - 150px);
  }
  #index_body #homelayout #mediaViewer {
    margin-top: 0;
  }
  #index_body #the_real_footer {
    grid-area: Footer;
  }
}
/*Post*/
@media (min-width: 1024px) {
  .post_section {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "Media Details";
  }
  .post_section #media_container {
    grid-area: Media;
  }
  .post_section #details_container {
    grid-area: Details;
    margin-left: 10px;
  }
}
/* Wide desktop */
@media (min-width: 1440px) {
}